.page{
    height: 90vh;
}

img{
    width: 70%;
}

.border-right{
    border-right: 2px solid rgb(55, 47, 45);
    padding: 2rem;
}
.product{
    border: 2px solid rgb(55, 47, 45);
    padding: 4rem;
}